<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamlanka.firecalc">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.teamlanka.firecalc.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamlanka.firecalc.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow" />
            <activity
            android:name="com.teamlanka.firecalc.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.teamlanka.firecalc.activities.FlashoverActivity"  android:label="Flashover"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.GaslayerActivity" android:label="Gaslayer"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.ConductionActivity" android:label="Conduction"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.SignupActivity" android:label="Signup"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.FlameHeightActivity" android:label="Flame Height"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.RadiationPoolActivity" android:label="Radiation Pool"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.HrrActivity" android:label="HRR"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.OpenPipeActivity" android:label="Open Pipe"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.GasAmountActivity" android:label="Gas Amount"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.T2FireActivity" android:label="T2 Fire"></activity>
        <activity android:name="com.teamlanka.firecalc.activities.GasConcActivity" android:label="Gas Concentration"></activity>
    </application>

</manifest>